<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>모닥불 설문조사 객관식 폼</title>
		<link rel="stylesheet" type="text/css" href="/static/css/vote_normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/vote_demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/vote_component.css" />
		<script src="/static/js/modernizr.custom.js"></script>
	</head>
	<body>
		


			<!-- 체크박스 -->
			<section>
				<form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
					<h2>다음 중, 잘생긴 사람을 고르시오.</h2>
					<ul>
						<li><input id="cb1_1" type="checkbox"><label for="cb1_1">신희재</label></li>
						<li><input id="cb1_2" type="checkbox"><label for="cb1_2">IML</label></li>
						<li><input id="cb1_3" type="checkbox"><label for="cb1_3">shino1025</label></li>
						<li><input id="cb1_4" type="checkbox"><label for="cb1_4">서정민</label></li>
					<ul>
				</form>
			</section>
			<!-- 라디오버튼 -->
			<section>
				<form class="ac-custom ac-radio ac-circle" autocomplete="off">
					<h2>다음 중, 가장 겐지를 잘하는 사람을 고르시오.</h2>
					<ul>
						<li><input id="r1_1" name="r" type="radio"><label for="r1_1">서정민</label></li>
						<li><input id="r1_2" name="r" type="radio"><label for="r1_2">정재경</label></li>
						<li><input id="r1_3" name="r" type="radio"><label for="r1_3">신희재</label></li>
						<li><input id="r1_4" name="r" type="radio"><label for="r1_4">박형석</label></li>
					</ul>
				</form>
			</section>
		<!-- 체크박스2 -->
			<section>
				<form class="ac-custom ac-checkbox ac-checkmark" autocomplete="off">
					<h2>다음 중, 잘생긴 사람을 고르시오.</h2>
					<ul>
						<li><input id="cb2_1" type="checkbox"><label for="cb2_1">신희재</label></li>
						<li><input id="cb2_2" type="checkbox"><label for="cb2_2">IML</label></li>
						<li><input id="cb2_3" type="checkbox"><label for="cb2_3">shino1025</label></li>
						<li><input id="cb2_4" type="checkbox"><label for="cb2_4">서정민</label></li>
					<ul>
				</form>
			</section>

		<script src="/static/js/svgcheckbx.js"></script>







	</body>
</html>